@model Adress

<h1>@Model.Name</h1>
<ul>
  <li>@Html.DisplayNameFor(m => m.Name) : @Model.Name</li>
  <li>@Html.DisplayNameFor(m => m.Street) : @Model.Street</li>
  <li>@Html.DisplayNameFor(m => m.City) : @Model.City</li>
  <li>@Html.DisplayNameFor(m => m.Email) : @Model.Email</li>
</ul>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
  <button type="submit">Delete this adress</button>
</form> 
<form asp-controller="AdressBook" asp-action="Edit" asp-route-id="@Model.Id" method="get">
<button type="submit">Edit</button>
</form>

<a asp-controller="AdressBook" asp-action="Index">Back to list</a>